<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Employee</title>
</head>
<body>
    <center>
    <h1>New Employee</h1>
    <form method="POST">
        <td>
        Your Name: <input type="text" name="username" required><br><br>
        contact....:       <input type="text" name="id" required><br><br>
        Username :     <input type="text" name="mail" required><br><br>
        Password : <input type="password" name="password" required><br><br>
       
        <input type="submit" value="Submit" name="btnRegister">
    </td>
    </form>
</center>
</body>
</html>